body {
  margin: 0;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  align-items: center;

  max-width: 600px;
}

.banner1 {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 22vh;

  background-color: #4bd484;
}

.banner1__image {
  height: 9vh;
}

.text1 {
  width: 86%;

  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text1__content {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;

  margin-top: 35px;
  margin-bottom: 35px;

  font-size: 18px;
  color: black;
  text-align: center;
}

.banner2 {
  width: 100%;

  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.banner2__image {
  width: 100%;
  height: calc(100% * 252 / 750);
}

.empresas-logo {
  margin-top: 20px;
  margin-bottom: 25px;

  width: 60%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;

  align-items: center;
  justify-content: center;
}

.empresas-logo__image {
  width: 100%;
  height: auto;
}

.text2 {
  margin-bottom: 20px;

  width: 86%;

  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  color: black;
  text-align: center;
}

.text2 p {
  font-family: "Open Sans", sans-serif;

  margin: 0;
  margin-top: 10px;
}

.text2__first {
  font-weight: 700;
}

.form {
  width: 86%;

  font-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.form-input {
  width: 100%;

  margin-top: 10px;
  margin-bottom: 10px;
}

.form-input__content {
  width: 100%;
  height: 36px;
  font-size: 16px;

  text-indent: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  outline-color: #4bd484;
}

.form-button {
  width: 100%;

  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
}

.form-button__content {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin-top: 20px;

  height: 50px;
  width: 200px;

  border: none;
  color: white;

  background-color: #4bd484;
  border-radius: 2rem;

  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
}

.sent-email {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;

  display: none;
  text-align: center;
  color: #4bd484;
}

.error-list {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  color: red;
  font-size: 14px;
  display: none;
}
